

// tooltip
@mixin tooltip {
    position: absolute;
    display: inline-block;
    .tooltip-box,
    .tooltip-point {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        bottom: 100%;
        left: 50%;
        z-index: 2;
    }
    .tooltip-box {
        background-color: $primary-dark;
        color: $white;
        text-transform: none;
        font-weight: 400;
        text-align: center;
    }
    .tooltip-point {
        background: linear-gradient(-45deg, $primary-dark 45%, transparent 45%);
        transform: rotate(45deg);
    }
    &:hover {
        .tooltip-box,
        .tooltip-point {
            visibility: visible;
        }
    }
}
// media queires
@mixin mq($break) {
    $value: map-get($breakpoints, $break );
    $sm: map-get($breakpoints, 'sm');
    @if $value == null {
        @warn "`#{$break}` is not a valid breakpoint name."
    }
    @else if $value < $sm {
        @media (max-width: $value) {
            @content;
        }
    }
    @else {
        @media (min-width: $value) {
            @content;
        }
    }
}

// service card color loop
@mixin cards($map) {
    @each $cardservices, $cardcolor in $service-colors {
        &-#{$cardservices} {
           .card-icon {
               background-color: $cardcolor;
           } 
           .fas {
               color: $white;
           }
           .btn-card {
               color: $white;
               background-color: $cardcolor;
           }
        }
        &-#{$cardservices}:hover {
            color: $white;
            background-color: $cardcolor;
            .card-icon {
                background-color: $white;
            }
            .fas {
                color: $cardcolor;
            }
            .line {
                background-color: $white;
            }
            .btn-card {
                color: $cardcolor;
                background-color: $white;
            }
        }
    }
}

