
#newsletter-container {
    background-color: $primary-light;
    padding-bottom: 26px;
    h2 {
        text-transform: none;
        margin: 0px 0px 15px;
        line-height: 1.1;
        font-size: 2rem;
        color: $primary-dark;
    }
}

.newsletter-form {
    @include mq('xs') {
        padding: 50px 30px;
    }
    @include mq('sm') {
        max-width: 720px;
        padding: 50px 30px 24px;
        margin: auto;
    }
    @include mq('md') {
        max-width: 940px;
        padding: 24px 30px 24px;
    }
    @include mq('lg') {
        max-width: 1170px;
    }
}

label {
    font-weight: 600;
    color: $primary-dark;
    line-height: 22px;
}

.required {
    color: #d64541;
}

fieldset {
    border: none;
    padding: 0;
}

.newsletter-fieldset {
    margin: 0 0 20px;
}


.newsletter-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    .name-field,
    .email-field {
        width: 100%;
        @include mq('md') {
            width: 425px;
        }
        @include mq ('lg') {
            width: 540px;
        }
    }
}

input[type="text"],
input[type="email"] {
    width: 100%;
    height: 47px;
    padding: 5px 15px;
    border: 1px solid $primary-accent;
    border-radius: 2px;
    margin-bottom: 10px;
    margin-top: 5px;
    transition: border .15s ease-in-out, box-shadow .15s ease-in-out;
    font-size: 14px;
    color: #555;
    box-shadow: inset 0 1px 1px rgba(66, 61, 61, 0.08);
    &:focus {
        outline: none;
        border: 1px solid rgb(91,192,222);
        box-shadow: 0px 0px 8px rgba(91,192,222,.6);
    }
}

.marketing-box {
    margin-top: 5px;
    margin-bottom: 11px;
    display: flex;
}

#marketing-optin {
    display: none;
}

.marketing-label {
    padding-left: 52px;
    position: relative;
    cursor: pointer;
}

.marketing-label::before {
    content:"";
    width: 26px;
    height: 26px;
    border: 3px solid $primary-dark;
    border-radius: 3px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.marketing-label span {
    display: inline-block;
    margin: 0;
    line-height: 32px;
}

.marketing-label #marketing-optin:checked {
    +span::before {
        content:"";
        position: absolute;
        width: 32px;
        height: 32px;
        background-color: $primary-dark;
        left: 0;
        top: 0;
        border-radius: 3px;
    }
    +span::after {
        content: "";
        display: block;
        position: absolute;
        width: 13px;
        height: 5px;
        border-left: 2.5px solid $white;
        border-bottom: 2.5px solid $white;
        transform: rotate(-45deg);
        left: 8px;
        top: 11px;
        color: $white;
    }

}

